.share_root{
    position:absolute;
    top: 58%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 60%; 
    height: 60%;
}

.share_root2{
    width: 100%; 
    height: 100%;
    position: relative;
}

.img_background{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 80%;
    background-color: #FFFFFF;
    border-radius: 20px;
}

.dark_img_background{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 80%;
    background-color: #212936;
    border-radius: 20px;
}

.img_style{
    width: 96%;
    height: 95%;
    position: relative;
    top: 2.5%;
    left: 2%;
    border-radius: 20px;
}

.button_container{
    position: absolute;
    top: 90%;
    left: 64%;
    transform:translate(-50%,-50%);
    width: 46%;
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 1440px) {
  

    .button_container{
        position: absolute;
        top: 90%;
        left: 60%;
        transform:translate(-50%,-50%);
        width: 46%;
        display: flex;
        flex-direction: row;
    }
  }
  
  @media only screen and (max-width:  1024px){

    .img_background{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 80%;
        background-color: #FFFFFF;
        border-radius: 20px;
    }
    
    .dark_img_background{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 80%;
        background-color: #212936;
        border-radius: 20px;
    }
    .button_container{
        position: absolute;
        top: 90%;
        left: 54%;
        transform:translate(-50%,-50%);
        width: 46%;
        display: flex;
        flex-direction: row;
    }
}

@media only screen and (max-width: 768px) {
    .share_root{
        position:absolute;
        top: 58%;
        left: 50%;
        transform:translate(-50%,-50%);
        width: 80%; 
        height: 60%;
    }
    
}
  
@media only screen and (max-width: 425px) {
    .share_root{
        position:absolute;
        top: 58%;
        left: 49.5%;
        transform:translate(-50%,-50%);
        width: 117%; 
        height: 51%;
    }

}